<!-- Header Intech------------------------------->
<ion-toolbar>
  <ion-row id="topbar" style="background-color: rgb(21, 101, 192)">
    <ion-col size="3">
      <ion-button color="rgb(21,101,192)" style="--box-shadow: none">
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-title class="title">Intech</ion-title>
    </ion-col>
    <ion-col size="3">
      <ion-buttons
        style="float: right; align-items: center"
        routerlink=""
        class="icons-header"
      >
        <ion-button (click)="togglesearchbar()">
          <ion-icon
            size="large"
            islot="icon-only"
            src="../assets/Search.svg"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-searchbar
      style="margin-top: -30px; border-radius: 40%;"
      *ngIf="showsearchbar"
    ></ion-searchbar>
  </ion-row>
</ion-toolbar>

<!-- Bottom Menu-------------------------->
<ion-tabs>
  <ion-tab-bar class="menu" slot="bottom">
    <ion-tab-button class="menubutton" routerLink="home">
      <ion-icon class="ion-icon" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="menubutton" routerLink="wishlist">
      <ion-icon class="ion-icon" name="heart-outline"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button class="menumenu">
      <!--<ion-icon class = "ion-icon" name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>-->
    </ion-tab-button>

    <ion-tab-button class="menubutton" (click)="menucart()">
      <ion-icon class="ion-icon" name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button class="menubutton" (click)="menuchoose()">
      <ion-icon class="ion-icon" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button class="menushadow"> </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button menu="main-menu" class="menumenu" (click)="menuteste()">
    <ion-icon class="ion-icon-menu" name="menu-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Menu Escolhas -->
<ion-menu side="start" menuId="main-menu" contentId="main">
  <ion-header class="sidemenu">
    <ion-toolbar class="sidemenu">
      <ion-title>Menu</ion-title>
      <ion-buttons slot="primary">
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list class="sidemenuoptions">
    <ion-menu-toggle (click)="menumobile()">
      <ion-item>
        <ion-label class="menu1">
          <ion-icon class="icons-menu" src="../assets/Mobile.svg"></ion-icon>
          <ion-text class="menutext"> Mobile</ion-text>
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="whatdoeshedo">
        <ion-label class="menu1"
          ><ion-icon
            class="icons-menu"
            style="width: 30px; height: 30px"
            src="../assets/gaming.svg"
          ></ion-icon>
          <ion-text class="menutext"> Gaming</ion-text>
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="lifeachievements">
        <ion-label class="menu1">
          <ion-icon
            class="icons-menu"
            style="width: 25px; height: 25px"
            src="../assets/Office.svg"
          ></ion-icon>
          <ion-text class="menutext"> Office</ion-text>
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="education">
        <ion-label class="menu1">
          <ion-icon class="icons-menu" name="home-outline"></ion-icon>
          <ion-text class="menutext"> Home</ion-text>
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="hobbies">
        <ion-label class="menu1">
          <ion-icon class="icons-menu" src="../assets/tvsom.svg"></ion-icon>
          <ion-text class="menutext"> TV & Sound</ion-text>
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="hobbies">
        <ion-label class="menu1">
          <ion-icon class="icons-menu" src="../assets/Smarthome.svg"></ion-icon>
          <ion-text class="menutext"> Smart Home</ion-text>
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
  <ion-item lines="none" button (click)="buttonClick()">
    <img
      routerLink="help"
      src="../assets/img/needhelp.png"
      class="helppage()"
    />
  </ion-item>
</ion-menu>

<!-- Login Create Account -->
<ion-menu
  *ngIf="logged == false"
  side="end"
  menuId="menu-choose"
  contentId="main"
>
  <ion-header>
    <ion-toolbar class="sidemenu">
      <ion-buttons>
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- buttonlogin -->
  <ion-button class="login" fill="outline" (click)="menulogin()">
    <ion-text style="margin-left: 5px">Log in</ion-text>
  </ion-button>
  <!-- buttoncreateaccount -->
  <ion-button
    style="margin-top: 5px"
    class="login"
    fill="outline"
    (click)="menucreate()"
  >
    <ion-text style="margin-left: 5px">Create an Account</ion-text>
  </ion-button>
  <ion-content id="main">
    <ion-list class="sidemenuoptions"> </ion-list>
    <ion-item lines="none" class="helplogin" button (click)="helppage()">
      <img src="../assets/img/needhelp.png" />
    </ion-item>
  </ion-content>
</ion-menu>

<!-- Menu Login -->
<ion-menu side="end" menuId="menu-login" contentId="main">
  <ion-header>
    <ion-toolbar class="sidemenu">
      <ion-buttons>
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- buttonlogingoogle -->
  <ion-text
    style="
      text-align: center;
      margin-top: 40px;
      color: rgb(112, 112, 112);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;
    "
    >Log in:
  </ion-text>
  <ion-button
    style="margin-top: 5px"
    class="login"
    fill="outline"
    (click)="menuprofile()"
  >
    <ion-icon class="icons-login" src="../assets/Logingoogle.svg"></ion-icon>
    <ion-text style="margin-left: 5px">With Google</ion-text>
  </ion-button>
  <!-- buttonloginemail -->
  <ion-button
    style="margin-top: 5px"
    class="login"
    fill="outline"
    (click)="menuloginemail()"
  >
    <ion-icon class="icons-login" src="../assets/Loginemail.svg"></ion-icon>
    <ion-text style="margin-left: 5px">With Email</ion-text>
  </ion-button>
  <ion-content id="main">
    <ion-list class="sidemenuoptions"> </ion-list>
    <ion-item lines="none" class="helplogin" button (click)="helppage()">
      <img src="../assets/img/needhelp.png" />
    </ion-item>
  </ion-content>
</ion-menu>

<!-- Menu Profile User -->
<ion-menu
  *ngIf="logged == true"
  side="end"
  menuId="menu-choose"
  contentId="main"
>
  <ion-header>
    <ion-toolbar class="sidemenu">
      <ion-buttons>
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="none" button (click)="helppage()">
    <img class="hellouser" src="../assets/img/RoboUser.png" />
  </ion-item>
  <ion-content id="main">
    <ion-list class="sidemenuoptions">
      <ion-menu-toggle>
        <ion-item routerLink="">
          <ion-label no-lines class="menuprofile">
            <ion-text class="menutext"> My Account</ion-text>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="">
          <ion-label no-lines class="menuprofile">
            <ion-text class="menutext"> My Account</ion-text>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="">
          <ion-label no-lines class="menuprofile">
            <ion-text class="menutext"> My Account</ion-text>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="">
          <ion-label no-lines class="menuprofile">
            <ion-text class="menutext"> My Account</ion-text>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="">
          <ion-label no-lines class="menuprofile">
            <ion-text class="menutext"> My Account</ion-text>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-button type="button" color="danger" expand="block" (click)="logout()"
      >Log out</ion-button
    >
  </ion-content>
</ion-menu>

<!-- Menu Cart -->
<ion-menu side="end" menuId="menu-cart" contentId="main">
  <ion-header>
    <ion-toolbar class="sidemenu">
      <ion-buttons>
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<!-- Create Account -->
<ion-menu side="end" menuId="menu-create" contentId="main">
  <ion-header>
    <ion-toolbar class="sidemenu">
      <ion-buttons>
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Usarname</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Sign Up</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-menu>

<!-- Menu login email -->
<ion-menu side="end" menuId="menu-login-email" contentId="main">
  <ion-header>
    <ion-toolbar class="sidemenu">
      <ion-buttons>
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          color="danger"
          expand="block"
          (click)="login()"
          >Sign In</ion-button
        >
        <a [routerLink]="['/forgot-password']" class="small-text"
          >Forgot Password?</a
        >
      </ion-col>
    </ion-row>
  </form>
</ion-menu>
