<!-- Header Intech----------------------------- -->
<ion-header>
  <ion-toolbar>
    <ion-title class="title"> InTech </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Bottom Menu------------------------ -->
<ion-tabs>
  <ion-tab-bar class="menu" slot="bottom">
    <ion-tab-button class="menubutton">
      <ion-icon class="ion-icon" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="menubutton">
      <ion-icon class="ion-icon" name="heart-outline"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button class="menumenu">
      <!--<ion-icon class = "ion-icon" name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>-->
    </ion-tab-button>

    <ion-tab-button class="menubutton">
      <ion-icon class="ion-icon" name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button class="menubutton" (click)="menuprofile()">
      <ion-icon class="ion-icon" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button class="menushadow"> </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button menu="main-menu" class="menumenu" (click)="menuteste()">
    <ion-icon class="ion-icon-menu" name="menu-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Menu Escolhas -->
<ion-menu side="start" menuId="main-menu" contentId="main">
  <ion-header class="sidemenu">
    <ion-toolbar class="sidemenu">
      <ion-title>Menu</ion-title>
      <ion-buttons slot="primary">
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="main">
    <ion-list class="sidemenuoptions">
      <ion-menu-toggle>
        <ion-item routerLink="whoishe">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon> Mobile
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="whatdoeshedo">
          <ion-label class="menu1"
            ><ion-icon class="icons-menu" name="home-outline"></ion-icon> Gaming
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="lifeachievements">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon> Office
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="education">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon> Home
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="hobbies">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon> TV &
            Sound
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <div>
      <img src="../assets/img/needhelp.png" class="help" />
    </div>
  </ion-content>
</ion-menu>

<!-- Menu Profile -->
<ion-menu side="end" menuId="menu-profile" contentId="main">
  <div class="profile">
    <img src="../../src/assets/img/Profile.png" alt="" />
  </div>
  <ion-header>
    <ion-toolbar class="sidemenu">
      <ion-buttons slot="primary">
        <div class="menuclose" (click)="closemenu()">
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="main">
    <ion-list class="sidemenuoptions">
      <ion-menu-toggle>
        <ion-item routerLink="home">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon> Mobile
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="whatdoeshedo">
          <ion-label class="menu1"
            ><ion-icon class="icons-menu" name="home-outline"></ion-icon>
            Gamming
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="lifeachievements">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon>Office
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="education">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon> Home
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="hobbies">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon>TV &
            Sound
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="pics">
          <ion-label class="menu1">
            <ion-icon class="icons-menu" name="home-outline"></ion-icon>Smart
            Home
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
   <div style="margin-top: 20px; margin-left: 30px">
      <img src="../assets/img/needhelp.png" class="help" />
    </div>
  </ion-content>
</ion-menu>
