<ion-header>
  <ion-toolbar style="height: 74px">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin-bottom: 70px;">
    <ion-row>
        <ion-col class= "check" style="height: 80px; border-bottom:2px solid rgb(21, 101, 192); border-left:2px solid rgb(21, 101, 192);" > Sales </ion-col>
        <ion-col class= "check" style="height: 80px; border-bottom:2px solid rgb(21, 101, 192); border-left:2px solid rgb(21, 101, 192);" > News </ion-col>
        <ion-col class= "check" style="height: 80px; border-bottom:2px solid rgb(21, 101, 192); border-left:2px solid rgb(21, 101, 192); border-right:2px solid rgb(21, 101, 192);"> Top </ion-col>
    </ion-row>  


  <ion-row>
    <ion-col>
      <ion-card class="card">
        <ion-card-header>
          <ion-icon
            name="heart-outline"
            style="color: red; size: 20px; float: right"
            size="large"
          ></ion-icon>
        </ion-card-header>
        <ion-card-content class= "check2"> Phones </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card class="card2">
        <ion-card-header>
          <ion-icon
            name="heart-outline"
            style="color: red; size: 20px; float: right"
            size="large"
          ></ion-icon>
        </ion-card-header>
        <ion-card-content class= "check2"> Gaming </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col >
      <ion-card class="card">
        <ion-card-header>
          <ion-icon
            name="heart-outline"
            style="color: red; size: 20px; float: right"
            size="large"
          ></ion-icon>
        </ion-card-header>
        <ion-card-content class= "check2"> Office </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col >
      <ion-card class="card2">
        <ion-card-header>
          <ion-icon
            name="heart-outline"
            style="color: red; size: 20px; float: right"
            size="large"
          ></ion-icon>
        </ion-card-header>
        <ion-card-content class= "check2"> Home </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col >
      <ion-card class="card">
        <ion-card-header>
          <ion-icon
            name="heart-outline"
            style="color: red; size: 20px; float: right"
            size="large"
          ></ion-icon>
        </ion-card-header>
        <ion-card-content class= "check2"> Smart Home </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col >
      <ion-card class="card2">
        <ion-card-header>
          <ion-icon
            name="heart-outline"
            style="color: red; size: 20px; float: right"
            size="large"
          ></ion-icon>
        </ion-card-header>
        <ion-card-content class= "check2"> TV & Sound </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>
